<div class="animated fadeIn">
  <div class="row" style="margin: 40px 10px 0px 10px !important;">
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-info">
        <div class="card-body pb-0">
          <button type="button" class="btn btn-transparent p-0 float-right">
            <h1><i class="fa fa-group"></i></h1>
          </button>
          <div class="text-value">{{contador_alumnos}}</div>
          <div><h4>Alumnos</h4> </div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-primary">
        <div class="card-body pb-0">
          <button type="button" class="btn btn-transparent p-0 float-right">
            <h1><i class="fa fa-user-circle"></i></h1>
          </button>
          <div class="text-value">{{contador_apoderados}}</div>
          <div><h4>Apoderados</h4> </div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-warning">
        <div class="card-body pb-0">
          <button type="button" class="btn btn-transparent p-0 float-right">
            <h1><i class="icon-user"></i></h1>
          </button>
          <div class="text-value">{{contador_usuarios}}</div>
          <div><h4>Usuarios</h4> </div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-danger">
        <div class="card-body pb-0">
          <button type="button" class="btn btn-transparent p-0 float-right">
            <h1><i class="fa fa-vcard-o"></i></h1>
          </button>
          <div class="text-value">{{contador_matriculados}}</div>
          <div><h4>Matriculados</h4> </div>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
  <div class="card">
    <div class="card-body">
        <img src="../../../assets/img/portada_inicio.jpg" class="img-fluid" width="80%" height="100%">
    </div>
  </div>
  <!--/.card-->
</div>
