<div class="animated fadeIn">
    <div class="card" style="border: 0px !important;" *ngIf="panel_detalle">
        <div class="card-header">
            <p class="h1">Vista General de la Cuenta</p>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-4">
                  <div class="callout callout-info">
                    <small class="text-muted">Nombre de Usurio</small>
                    <br>
                    <strong class="h4">{{datausu.nom_usu}}</strong>
                  </div>
                </div><!--/.col-->
                <div class="col-sm-4">
                  <div class="callout callout-danger">
                    <small class="text-muted">Nombres</small>
                    <br>
                    <strong class="h4">{{datausu.nombres_usu}}</strong>
                  </div>
                </div><!--/.col-->
                <div class="col-sm-4">
                    <div class="callout callout-danger">
                      <small class="text-muted">Apellidos</small>
                      <br>
                      <strong class="h4">{{datausu.apellidos_usu}}</strong>
                    </div>
                  </div><!--/.col-->
              </div><!--/.row-->
            </div><!--/.col-->
            <div class="col-sm-12">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="callout callout-info">
                      <small class="text-muted">Tipo Perfil</small>
                      <br>
                      <strong class="h4">{{datausu.nombre_perfil}}</strong>
                    </div>
                  </div><!--/.col-->
                  <div class="col-sm-4">
                    <div class="callout callout-success">
                      <small class="text-muted">Fecha Alta</small>
                      <br>
                      <strong class="h4">{{datausu.fcreacion_usu | date:'dd/MM/yyyy'}}</strong>
                    </div>
                  </div><!--/.col-->
                  <div class="col-sm-4">
                      <div class="callout callout-warning">
                        <small class="text-muted">N° Celular</small>
                        <br>
                        <strong class="h4">{{datausu.celular_usu}}</strong>
                      </div>
                    </div><!--/.col-->
                </div><!--/.row-->
              </div><!--/.col-->
          </div><!--/.row-->
          <br>
        </div>
        <div class="card-footer">
            <div class="col-md-3 mb-3 mb-xl-0 text-center">
                <button class="btn btn-outline-primary btn-lg btn-block" (click)="btnDetalle_Usuario(datausu)" type="button">EDITAR CUENTA</button>
            </div>
         </div>
    </div>
    <div class="card" style="border: 0px !important;" *ngIf="panel_editar">
        <div class="card-header">
            <p class="h1">Editar Cuenta</p>
        </div>
        <form name="form" class="formulario" (ngSubmit)="myForm.form.valid && updateUsuario(usuario)" #myForm="ngForm" novalidate autocomplete="off">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-4">
                  <div class="callout callout-info">
                    <small class="text-muted">Doc. Usuario</small>
                    <br>
                    <strong class="h4">{{datausu.dni_usu}}</strong>
                  </div>
                </div><!--/.col-->
                <div class="col-sm-4">
                  <div class="callout callout-danger">
                    <small class="text-muted">Nombres</small>
                    <br>
                    <input type="text" class="form-control" id="nombres_usu" name="nombres_usu"
                    placeholder="Nombres Completos" [(ngModel)]="usuario.nombres_usu" #regnombres="ngModel" 
                    onkeyup="verif(this)" maxlength="50" [ngClass]="{ 'is-invalid': myForm.submitted && regnombres.invalid }" 
                    pattern="^([A-ZÁÉÍÓÚ]{1}[a-zñáéíóú]{1,25}[\s]*)+$" required>
                  </div>
                </div><!--/.col-->
                <div class="col-sm-4">
                    <div class="callout callout-danger">
                      <small class="text-muted">Apellidos</small>
                      <br>
                      <input type="text" class="form-control" id="apellidos_usu" name="apellidos_usu" 
                  placeholder="Apellidos Completos" [(ngModel)]="usuario.apellidos_usu" #regapellidos="ngModel" 
                  onkeyup="verif(this)" maxlength="60" [ngClass]="{ 'is-invalid': myForm.submitted && regapellidos.invalid }" 
                  pattern="^([A-ZÁÉÍÓÚ]{1}[a-zñáéíóú]{1,30}[\s]*)+$" required>
                    </div>
                  </div><!--/.col-->
              </div><!--/.row-->
            </div><!--/.col-->
            <div class="col-sm-12">
                <div class="row">
                  <div class="col-sm-4">
                      <div class="callout callout-warning formulario" >
                        <small class="text-muted">Sexo</small>
                        <br>
                        <div class="radio" style="display: block !important;max-width: none !important;">
                            <div class="form-check form-check-inline mr-1" id="inline-radios">
                                <input class="form-check-input" type="radio" name="sexo_usu" id="inlineRadio1" [(ngModel)]="usuario.sexo_usu" value="M" #regsexo="ngModel" required >
                                <label class="form-check-label" for="inlineRadio1">Masculino</label>
                              </div>
                              <div class="form-check form-check-inline mr-1">
                                <input class="form-check-input" type="radio" name="sexo_usu" id="inlineRadio2" [(ngModel)]="usuario.sexo_usu" value="F" #regsexo="ngModel" required>
                                <label class="form-check-label" for="inlineRadio2">Femenino</label>
                              </div>
                             
                            </div>
                      </div>
                    </div><!--/.col-->
                  <div class="col-sm-4">
                    <div class="callout callout-success">
                      <small class="text-muted">Fecha Alta</small>
                      <br>
                      <strong class="h4">{{datausu.fcreacion_usu | date:'dd/MM/yyyy'}}</strong>
                    </div>
                  </div><!--/.col-->
                  <div class="col-sm-4">
                      <div class="callout callout-warning">
                        <small class="text-muted">N° Celular</small>
                        <br>
                        <input type="text" class="form-control" id="celular_usu" name="celular_usu"
                placeholder="#########"  [(ngModel)]="usuario.celular_usu" #regcelular="ngModel"
                pattern="[0-9]{9}" [ngClass]="{ 'is-invalid': myForm.submitted && regcelular.invalid }" required onkeyup="verif(this)" onkeypress="return Num(event);" maxlength="9">
                      </div>
                    </div><!--/.col-->
                </div><!--/.row-->
              </div><!--/.col-->
              <div class="col-sm-12">
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="callout callout-info">
                        <small class="text-muted">Nombre de Usuario</small>
                        <br>
                        <input type="text" class="form-control" id="nom_usu" name="nom_usu"
                    placeholder="Nombre Usuario" [(ngModel)]="usuario.nom_usu" #regnom="ngModel" (ngModelChange)="changeNomUsu('I',usuario.nom_usu)"
                    onkeyup="verif(this)" maxlength="20" pattern="^([a-z]+[0-9]{0,2}){5,20}$" [ngClass]="{ 'is-invalid': myForm.submitted && regnom.invalid}" required>
                      </div>
                    </div><!--/.col-->
                    <div class="col-sm-4">
                        <div class="callout callout-info">
                          <small class="text-muted">Tipo Perfil</small>
                          <br>
                          <strong class="h4">{{usuario.nombre_perfil}}</strong>
                        </div>
                      </div><!--/.col-->
                    <div class="col-sm-4">
                        <div class="callout callout-success">
                          <small class="text-muted">Cambiar Contraseña</small>
                          <br>
                          <button aria-pressed="true" class="btn btn-ghost-success active" type="button"><i class="fa fa-lock" aria-hidden="true"></i></button>
                        </div>
                      </div><!--/.col-->
                  </div><!--/.row-->
              </div><!--/.col-->
              <div class="col-sm-12">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="callout callout-danger">
                        <small class="text-muted">Dirección</small>
                        <br>
                        <input type="text" class="form-control" id="direccion_usu" name="direccion_usu"
                        placeholder="Dirección" [(ngModel)]="usuario.direccion_usu" #regdireccion="ngModel" 
                        onkeyup="verif(this)" maxlength="80" [ngClass]="{ 'is-invalid': myForm.submitted && regdireccion.invalid }" 
                        pattern="^([A-Za-z0-9#]{1,80}[\s]*)+$" required>
                      </div>
                    </div><!--/.col-->
                    <div class="col-sm-6">
                        <div class="callout callout-danger">
                          <small class="text-muted">Correo Electronico</small>
                          <br>
                          <input type="text" class="form-control" id="correo_usu" name="correo_usu"
                          placeholder="Correo Electronico" [(ngModel)]="usuario.correo_usu" #regcorreo="ngModel" 
                          onkeyup="verif(this)" maxlength="80" [ngClass]="{ 'is-invalid': myForm.submitted && regcorreo.invalid }" email>
                        </div>
                      </div><!--/.col-->
                  </div><!--/.row-->
                </div><!--/.col-->
          </div><!--/.row-->
          <br>
        </div>
        <div class="card-footer" style="text-align: right;">
            <button type="button" class="btn btn-pill btn-danger" style="margin: 0px 20px;"
            (click)="btnCancelar_Editar('E')">
                <span class="fa fa-times-circle"></span>
            Cancelar</button>
            <button class="btn btn-pill btn-success" type="submit">
                <span class="fa fa-save"></span> Grabar</button>
          
        </div>
        </form>
    </div>
</div>
