<div class="cargando" *ngIf="loading">
  <img src="../../../assets/img/30.gif" width="5%" img-responsive>
</div>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-5">
      <div class="card">
        <div class="card-header">
          <strong>
            <h5><i class="fa fa-align-justify"></i>&nbsp;&nbsp; Grados</h5>
          </strong>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th>Nombre Grado</th>
                <th>Estado</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of DataGrado;let indice=index">
                  <td>
                    {{item.descripcion_grado}}
                    <span class="badge badge-info badge-pill" 
                    (click)="Listar_Secciones_xGrado(item.id_grado)" style="position: static;cursor: pointer;color: #ffffff !important;">{{item.total}}</span>
                  </td>
                  <td>
                    <!-- <span class="badge badge-success" [ngStyle]="{'background-color':item.estado === 'ACTIVO' ? 'green' : 'red' }">{{item.estado}}</span> -->
                    <label class="switch switch-label switch-success" style="width: 78px;">
                        <input checked="" [checked]="item.estado_grado.data==1" class="switch-input" type="checkbox" 
                        (click)="Cambiar_Estado(item.id_grado,item.estado_grado.data)">
                        <span class="switch-slider" data-checked="ACTIVO" data-unchecked="INACTIVO"></span>
                      </label>
                  </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-7">
      <div class="card">
        <div class="card-header">
          <strong>
            <h5><i class="fa fa-align-justify"></i>&nbsp;&nbsp;Secciones</h5>
          </strong>
        </div>
        <div class="card-body">
          <table class="table secciones-container">
            <thead>
              <tr>
                <th>Nombre Sección</th>
                <th>Grado</th>
                <th>Turno</th>
                <th>Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of DataSecciones;let indice=index">
                  <td>
                    {{item.nombre_seccion}}
                  </td>
                  <td>
                    {{item.descripcion_grado}}
                  </td>
                  <td>
                    {{item.turno}}
                  </td>
                  <td>
                    <button class="btn btn-danger btn-xs distancia_btn_opciones"
                          matTooltip="Eliminar"
                          matTooltipClass="tooltip-mensaje"
                          [matTooltipPosition]="positionOptions[3]"
                          (click)="btnEliminar_Usuario(element.idusuario)">
                    <span class="fa fa-trash-o btn-xs"></span>
                    </button>
                  </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
</div>
