<div class="animated fadeIn">
    <div class="card card-default">
      <div class="card-header">
        <h5><strong>
          <i class="fa fa-align-justify"></i>&nbsp;&nbsp;Reporte de Balance
        </strong></h5>
      </div>
      <div class="card-body">
        <div class="card-header estilo-cabecera">CRITERIOS DE BUSQUEDA</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12 col-md-5 col-lg-3">
                        <div class="form-group">
                        <label for="postal-code" style="font-weight: bold;">Busqueda Por:</label>
                        <select class="form-control" id="criterio" name="criterio"
                          [(ngModel)]="criterio" (change)="CriterioBusqueda()">
                          <option value="0" selected disabled>---SELECCIONAR CRITERIO----</option>
                          <option value="1">AÑO LECTIVO</option>
                          <option value="2">FECHAS</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-5 col-lg-3" *ngIf="criterio==1">
                      <div class="form-group">
                       <label for="postal-code" style="font-weight: bold;">Año Lectivo:</label>
                       <select class="form-control" id="anhio_lectivo" name="anhio_lectivo"
                        [(ngModel)]="anhio_lectivo">
                        <option value="0" selected disabled>---Seleccionar Año Lectivo----</option>
                        <option *ngFor="let a of DataAnhios" value="{{a.idanhio}}">AÑO LECTIVO {{a.anhio_lectivo}}</option>
                       </select>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-5 col-lg-3" *ngIf="criterio==2">
                        <div class="form-group">
                          <label for="postal-code" style="font-weight: bold;">Fecha Desde:</label>
                          <input class="form-control" id="fecha_desde" type='date' name="fecha_desde" placeholder="date"
                           [(ngModel)]="fecha_desde" #regfecha="ngModel" required>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-5 col-lg-3" *ngIf="criterio==2">
                      <div class="form-group">
                        <label for="postal-code" style="font-weight: bold;">Fecha Hasta:</label>
                        <input class="form-control" id="fecha_hasta" type='date' name="fecha_hasta" placeholder="date"
                         [(ngModel)]="fecha_hasta" #regfecha="ngModel" min="{{fecha_desde}}" required>
                    </div>
                  </div>
                    <div class="col-sm-12 col-md-2 col-lg-3">
                        <div class="form-group">
                        <label for="postal-code" style="font-weight: bold;">Buscar:</label><br>
                        <button class="btn btn-success" (click)="Generar_Reporte()">
                            <span class="fa fa-search"></span>
                        </button>
                      </div>
                      </div>
                </div>
            </div>
            <div class="card-header estilo-cabecera">BALANCE DE INGRESOS Y EGRESOS
                <div class="card-header-actions">
                   <i class="fa fa-file-pdf-o fa-2x" aria-hidden="true" style="color: red;cursor: pointer;"
                   (click)="VerPDF()" *ngIf="panel_tabla"></i>
                </div>
            </div>
            <div class="card-body" *ngIf="panel_tabla">
              <div class="secciones-balance table-responsive">  
            <table class="table">
              <thead>
                <tr>
                  <th width="5%">N°</th>
                  <th width="15%">Tipo Movimiento</th>
                  <th width="30%">Descripción</th>
                  <th width="20%">Fecha y Hora</th>
                  <th width="20%">Ingreso</th>
                  <th width="20%">Egreso</th>
                 </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of DataBalance;let indice=index;">
                    <td>
                      {{indice + 1}}                        
                    </td>
                    <td>
                      {{item.tipo}}                        
                    </td>
                    <td>
                      {{item.descripcion}}                        
                    </td>
                    <td>
                      {{item.fecha | date:'dd/MM/yyyy h:mm a '}}                        
                    </td>
                    <td>
                      {{item.balance_i | number : '.2-2'}}                        
                    </td>
                    <td>
                      {{item.balance_e | number : '.2-2'}}                        
                    </td>
                </tr>
              </tbody>
            </table>
            </div>
          </div>
        </div>
      </div>
  </div>
  