.estilo-cabecera{
    background-color: #3a60e4b3;
    font-weight:bold;
    font-size:1em;
    color:#fff;
    font-family:'Helvetica','Verdana','Monaco',sans-serif;
    border-radius: 0px !important;
  }