<div class="animated fadeIn">
  <div class="card" >
    <div class="card-header">
        <h5><strong>
            <i class="fa fa-align-justify"></i>&nbsp;&nbsp;Listado de Conceptos
          </strong>     
          <span class="float-right">
            <button class="btn btn-primary btn-xs" style="margin: 0px 20px;"
            matTooltip="Agregar Nuevo Concepto"
            matTooltipClass="tooltip-mensaje"
            data-toggle="modal" (click)="btnNuevo_Concepto()">
              <span class="fa fa-plus-square"></span>
            </button>
          </span></h5>
   </div>
   <div class="card-body">
      <div class="mat-elevation-z8 table-responsive">
          <mat-form-field class="example-full-width" style="margin-left: 15px;">
            <span matPrefix>Buscar: &nbsp;</span>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Ingrese Dato">
          </mat-form-field>  
          <table mat-table [dataSource]="dataSource" matSort id="tabla">
             
          
            <ng-container matColumnDef="descripcion_concepto">
              <th width="35%" mat-header-cell *matHeaderCellDef mat-sort-header class="txtcabezera-tabla" nowrap > Descripción Concepto </th>
              <td mat-cell *matCellDef="let element"> {{element.descripcion_concepto}} </td>
            </ng-container>
        
        
            <ng-container matColumnDef="tipo_concepto">
              <th width="20%" mat-header-cell *matHeaderCellDef mat-sort-header class="txtcabezera-tabla" nowrap>Tipo Concepto </th>
              <td mat-cell *matCellDef="let element" style="text-align: center !important"> {{element.tipo_concepto}}</td>
            </ng-container>
            
            <ng-container matColumnDef="monto_concepto">
                <th width="20%" mat-header-cell *matHeaderCellDef mat-sort-header class="txtcabezera-tabla" nowrap> Monto Concepto </th>
                <td mat-cell *matCellDef="let element" style="text-align: center !important"> {{element.monto_concepto | number : '.2-2'}} </td>
              </ng-container>

                <ng-container matColumnDef="opciones">
                    <th width="20%" mat-header-cell *matHeaderCellDef class="txtcabezera-tabla" nowrap> Opciones </th>
                    <td mat-cell *matCellDef="let element" style="text-align: center !important" nowrap> 
                    <button class="btn btn-success btn-xs distancia_btn_opciones"
                              matTooltip="Editar"
                              matTooltipClass="tooltip-mensaje"
                              [matTooltipPosition]="positionOptions[3]"
                              data-toggle="modal" (click)="btnEditar_Concepto(element)">
                            <span class="fa fa-edit"></span>
                  </button>
                 <button class="btn btn-danger btn-xs distancia_btn_opciones"
                      matTooltip="Eliminar"
                      matTooltipClass="tooltip-mensaje"
                      [matTooltipPosition]="positionOptions[3]"
                      (click)="btnEliminar_Concepto(element.id_concepto)">
                 <span class="fa fa-trash-o btn-xs"></span>
                 </button>
                      
                    </td>
                  </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns" style="background-color: #b6b9d0 !important;"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          
        </div>

   </div>
 </div>
  <!--Modal Registrar Nuevo Concepto-->
  <div bsModal #NvoConceptoModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" #staticModal="bs-modal" [config]="{backdrop: 'static',keyboard : false}" >
    <div class="modal-dialog modal-md modal-success" role="document">
      <div class="modal-content">
          <form name="form" class="formulario" (ngSubmit)="myForm.form.valid && onSubmit(concepto)" #myForm="ngForm" novalidate autocomplete="off">
        <div class="modal-header">
          <h4 class="modal-title">Nuevo Concepto</h4>
          <button type="button" class="close" (click)="frmConceptos_hide('N')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="row">
                  <div class="form-group col-sm-12 col-md-12">
                    <label for="descripcion_concepto" style="font-weight: bold;">Descripción Concepto <i class="fa fa-certificate" style="color:red !important"></i> :</label>
                    <input type="text" class="form-control" id="descripcion_concepto" name="descripcion_concepto"
                     placeholder="Descripción Concepto" [(ngModel)]="concepto.descripcion_concepto" #regdescripcion="ngModel" 
                     onkeyup="verif(this);mayus(this);" maxlength="100" [ngClass]="{ 'is-invalid': myForm.submitted && regdescripcion.invalid }" 
                     pattern="^([A-ZÁÉÍÓÚÑa-zñáéíóú0-9]{1,100}[\s]*)+$" required>
                     <div *ngIf="myForm.submitted && regdescripcion.invalid" class="invalid-feedback">
                      <div *ngIf="regdescripcion.errors.required">Campo Requerido</div>
                      <div *ngIf="regdescripcion.errors.pattern">Formato Incorrectos</div>
                     </div>
                  </div>
              </div><!--/.row--> 
              <div class="row">
                <div class="form-group col-sm-12 col-md-5">
                    <label for="tipo_concepto" style="font-weight: bold;">Tipo Concepto <i class="fa fa-certificate" style="color:red !important"></i> :</label>
                    <select class="form-control" id="tipo_concepto" name="tipo_concepto" 
                                  placeholder="Selecionar Perfil" [(ngModel)]="concepto.tipo_concepto" #tipo_concepto="ngModel">
                                    <option value="" selected disabled>--Tipo--</option>
                                    <option value="A">APAFA</option>
                                    <option value="O">OTROS</option>
                                 </select>
                                 <div *ngIf="myForm.submitted && concepto.tipo_concepto==''" style="
                                     width: 100%;
                                     margin-top: .25rem;
                                     font-size: 80%;
                                     color: #f86c6b;">
                                       Debe seleccionar una opción
                                      </div>
                  </div>
                  <div class="form-group col-sm-12 col-md-4">
                    <label for="monto_concepto" style="font-weight: bold;">Monto <i class="fa fa-certificate" style="color:red !important"></i> :</label>
                    <input type="text" class="form-control" id="monto_concepto" name="monto_concepto"
                     placeholder="Monto" [(ngModel)]="concepto.monto_concepto" #regmonto="ngModel" 
                     onkeyup="verif(this)" maxlength="11" [ngClass]="{ 'is-invalid': myForm.submitted && regmonto.invalid }" 
                     pattern="^(?!\.?$)\d{1,8}(\.\d{1,2})?$" onkeypress="return Num_Decimal(event);" required>
                     <div *ngIf="myForm.submitted && regmonto.invalid" class="invalid-feedback">
                      <div *ngIf="regmonto.errors.required">Monto campo requerido</div>
                      <div *ngIf="regmonto.errors.pattern">Formato Monto Incorrecto</div>
                     </div>
                  </div>
              </div><!--/.row-->       
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="frmConceptos_hide('N')"><span class="fa fa-times-circle"></span> Close</button>
          <button type="submit" class="btn btn-primary" ><span class="fa fa-save"></span> Guardar</button>
        </div>
      </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>
  <!-- /.Fin Modal Registrar Nuevo Concepto-->
  <!--Modal Registrar Nuevo Concepto-->
  <div bsModal #EditConceptoModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" #staticModal="bs-modal" [config]="{backdrop: 'static',keyboard : false}" >
    <div class="modal-dialog modal-md modal-success" role="document">
      <div class="modal-content">
          <form name="form" class="formulario" (ngSubmit)="myEdit.form.valid && Update_Concepto(concepto)" #myEdit="ngForm" novalidate autocomplete="off">
        <div class="modal-header">
          <h4 class="modal-title">Editar Concepto</h4>
          <button type="button" class="close" (click)="frmConceptos_hide('E')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="row">
                  <div class="form-group col-sm-12 col-md-12">
                    <label for="descripcion_concepto" style="font-weight: bold;">Descripción Concepto <i class="fa fa-certificate" style="color:red !important"></i> :</label>
                    <input type="text" class="form-control" id="descripcion_concepto" name="descripcion_concepto"
                     placeholder="Descripción Concepto" [(ngModel)]="concepto.descripcion_concepto" #regdescripcion="ngModel" 
                     onkeyup="verif(this);mayus(this);" maxlength="100" [ngClass]="{ 'is-invalid': myEdit.submitted && regdescripcion.invalid }" 
                     pattern="^([A-ZÁÉÍÓÚÑa-zñáéíóú0-9]{1,100}[\s]*)+$" required>
                     <div *ngIf="myEdit.submitted && regdescripcion.invalid" class="invalid-feedback">
                      <div *ngIf="regdescripcion.errors.required">Campo Requerido</div>
                      <div *ngIf="regdescripcion.errors.pattern">Formato Incorrectos</div>
                     </div>
                  </div>
              </div><!--/.row--> 
              <div class="row">
                <div class="form-group col-sm-12 col-md-5">
                    <label for="tipo_concepto" style="font-weight: bold;">Tipo Concepto <i class="fa fa-certificate" style="color:red !important"></i> :</label>
                    <select class="form-control" id="tipo_concepto" name="tipo_concepto" 
                                  placeholder="Selecionar Perfil" [(ngModel)]="concepto.tipo_concepto" 
                                  #tipo_concepto="ngModel" disabled>
                                    <option value="" selected disabled>--Tipo--</option>
                                    <option value="A">APAFA</option>
                                    <option value="O">OTROS</option>
                                 </select>
                  </div>
                  <div class="form-group col-sm-12 col-md-4">
                    <label for="monto_concepto" style="font-weight: bold;">Monto <i class="fa fa-certificate" style="color:red !important"></i> :</label>
                    <input type="text" class="form-control" id="monto_concepto" name="monto_concepto"
                     placeholder="Monto" [(ngModel)]="concepto.monto_concepto" #regmonto="ngModel" 
                     onkeyup="verif(this)" maxlength="11" [ngClass]="{ 'is-invalid': myEdit.submitted && regmonto.invalid }" 
                     pattern="^(?!\.?$)\d{1,8}(\.\d{1,2})?$" onkeypress="return Num_Decimal(event);" required>
                     <div *ngIf="myEdit.submitted && regmonto.invalid" class="invalid-feedback">
                      <div *ngIf="regmonto.errors.required">Monto campo requerido</div>
                      <div *ngIf="regmonto.errors.pattern">Formato Monto Incorrecto</div>
                     </div>
                  </div>
              </div><!--/.row-->       
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="frmConceptos_hide('E')"><span class="fa fa-times-circle"></span> Close</button>
          <button type="submit" class="btn btn-primary" ><span class="fa fa-save"></span> Guardar</button>
        </div>
      </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>
  <!-- /.Fin Modal Registrar Nuevo Concepto-->
  </div>

 