<ngx-spinner
bdColor = "rgba(62,58,58,0.49)"
size = "medium"
color = "#e80606"
type = "ball-clip-rotate-multiple">
<p style="color: #e80606" > Espere Cargando....... </p>
</ngx-spinner>
<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
        <h5><strong>
            <i class="fa fa-align-justify"></i>&nbsp;&nbsp;Listado de Reuniones
          </strong>     
          <span class="float-right">
            <button class="btn btn-primary btn-xs" style="margin: 0px 20px;"
            matTooltip="Agregar Nueva Reunión"
            matTooltipClass="tooltip-mensaje"
            data-toggle="modal" (click)="btnNueva_Reunion()">
              <span class="fa fa-plus-square"></span>
            </button>
          </span></h5>
   </div>
   <div class="card-body">
      <div class="mat-elevation-z8 table-responsive">
          <mat-form-field class="example-full-width" style="margin-left: 15px;">
            <span matPrefix>Buscar: &nbsp;</span>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Ingrese Dato">
          </mat-form-field>  
          <table mat-table [dataSource]="dataSource" matSort id="tabla">
             
          
            <ng-container matColumnDef="motivo_reunion">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="txtcabezera-tabla" nowrap > Motivo Reunión </th>
              <td mat-cell *matCellDef="let element" nowrap> {{element.motivo_reunion}} </td>
            </ng-container>
        
        
            <ng-container matColumnDef="fecha_reunion">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="txtcabezera-tabla" nowrap>Fecha Reunión </th>
              <td mat-cell *matCellDef="let element" style="text-align: center !important" nowrap> {{element.fecha_reunion | date:'dd/MM/yyyy h:mm a '}}</td>
            </ng-container>          
            
            <ng-container matColumnDef="concepto">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="txtcabezera-tabla" nowrap> Bajo Concepto </th>
                <td mat-cell *matCellDef="let element" nowrap> {{element.descripcion_concepto}} </td>
              </ng-container>

              <ng-container matColumnDef="monto_concepto">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="txtcabezera-tabla" nowrap> Monto Multa </th>
                  <td mat-cell *matCellDef="let element" style="text-align: center !important" nowrap> {{element.monto_concepto | number : '.2-2'}} </td>
                </ng-container>

                <ng-container matColumnDef="opciones">
                    <th mat-header-cell *matHeaderCellDef class="txtcabezera-tabla" nowrap> Opciones </th>
                    <td mat-cell *matCellDef="let element" style="text-align: center !important" nowrap> 
                      <button class="btn btn-warning btn-xs distancia_btn_opciones"
                      matTooltip="Generar Lista"
                      matTooltipClass="tooltip-mensaje"
                      [matTooltipPosition]="positionOptions[3]"
                      [disabled]="element.lista_reunion.data[0]==1"
                      data-toggle="modal" (click)="Generar_Lista_Firmas(element.id_reunion)">
                    <span class="fa fa-refresh"></span></button>
                <button class="btn btn-success btn-xs distancia_btn_opciones"
                    matTooltip="Imprimir"
                    matTooltipClass="tooltip-mensaje"
                    [matTooltipPosition]="positionOptions[3]"
                    [disabled]="element.lista_reunion.data[0]==0"
                    data-toggle="modal" (click)="ImprimirListaFirmas(element.id_reunion)">
                  <span class="fa fa-print"></span></button>
                 <button class="btn btn-danger btn-xs distancia_btn_opciones"
                      matTooltip="Eliminar"
                      matTooltipClass="tooltip-mensaje"
                      [matTooltipPosition]="positionOptions[3]"
                      (click)="btnEliminar_Alumno(element.id_alumno)">
                 <span class="fa fa-trash-o btn-xs"></span>
                 </button>
                      
                    </td>
                  </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns" style="background-color: #b6b9d0 !important;"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          
        </div>

   </div>
 </div>
 <!--Modal Registrar Nuevo Año Lectivo-->
 <div bsModal #NvaReunionModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" #staticModal="bs-modal" [config]="{backdrop: 'static',keyboard : false}" >
  <div class="modal-dialog modal-md modal-success" role="document">
    <div class="modal-content">
     <form name="form" class="formulario" (ngSubmit)="myForm.form.valid && onSubmit(reunion)" #myForm="ngForm" novalidate autocomplete="off">
      <div class="modal-header">
        <h4 class="modal-title">Nueva Reunión</h4>
        <button type="button" class="close" (click)="frmReunion_hide('N')" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="form-group col-sm-12 col-md-12">
            <label for="motivo_reunion" style="font-weight: bold;">Motivo Reunión <i class="fa fa-certificate" style="color:red !important"></i> :</label>
            <input type="text" class="form-control" id="motivo_reunion" name="motivo_reunion"
             placeholder="Motivo Reunión" [(ngModel)]="reunion.motivo_reunion" #regmotivo="ngModel" 
             onkeyup="verif(this)" maxlength="100" [ngClass]="{ 'is-invalid': myForm.submitted && regmotivo.invalid }" 
             pattern="^([A-ZÁÉÍÓÚa-zñáéíóú0-9]{1,100}[\s]*)+$" required>
             <div *ngIf="myForm.submitted && regmotivo.invalid" class="invalid-feedback">
              <div *ngIf="regmotivo.errors.required">Motivo campo requerido</div>
              <div *ngIf="regmotivo.errors.pattern">Formato Motivo incorrecto</div>
             </div>
          </div>
          
        </div>
        <div class="row">
          <div class="form-group col-sm-12 col-md-5">
            <label for="fecha_reunion" style="font-weight: bold;">Fecha Reunión <i class="fa fa-certificate" style="color:red !important"></i> :</label>
               <input class="form-control" id="fecha_reunion" type='date' name="fecha_reunion" placeholder="date"
                 [(ngModel)]="reunion.fecha_reunion" #regfecha_reunion="ngModel" required>
               <div *ngIf="myForm.submitted && regfecha_reunion.errors?.required" style="
                   width: 100%;
                   margin-top: .25rem;
                   font-size: 80%;
                   color: #f86c6b;">
                   Debe ingresar una fecha válida
               </div>
          </div>
          <div class="form-group col-sm-12 col-md-5">
             <label for="hora_reunion" style="font-weight: bold;">Hora Reunión <i class="fa fa-certificate" style="color:red !important"></i> :</label>
             <input type="time" class="form-control" name="hora_reunion"
             [(ngModel)]="reunion.hora_reunion" #reghora_reunion="ngModel" required>
                <div *ngIf="myForm.submitted && reghora_reunion.errors?.required" style="
                    width: 100%;
                    margin-top: .25rem;
                    font-size: 80%;
                    color: #f86c6b;">
                    Debe ingresar una hora válida
                </div>
           </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-12 col-md-8">
            <label for="id_concepto" style="font-weight: bold;">Bajo Concepto <i class="fa fa-certificate" style="color:red !important"></i> :</label>
            <select class="form-control" id="id_concepto" name="id_concepto" 
            placeholder="Selecionar Perfil" 
            (change)="obtener_monto(reunion.id_concepto)"
            [(ngModel)]="reunion.id_concepto" #id_concepto="ngModel">
            <option value="0" selected disabled>-----Seleccionar Concepto------</option>
            <option *ngFor="let c of DataConcepto" value="{{c.id_concepto}}">{{c.descripcion_concepto}}</option>
           </select>
           <div *ngIf="myForm.submitted && reunion.id_concepto==''" style="
               width: 100%;
               margin-top: .25rem;
               font-size: 80%;
               color: #f86c6b;">
                 Debe seleccionar una opción
                </div>
          </div>
          <div class="form-group col-sm-12 col-md-4">
             <label for="monto_concepto" style="font-weight: bold;">Monto Multa<i class="fa fa-certificate" style="color:red !important"></i> :</label>
             <input type="text" class="form-control" id="monto_concepto" name="monto_concepto"
             placeholder="Monto Multa" [(ngModel)]="reunion.monto_concepto" #regmonto_concepto="ngModel" 
              maxlength="100" required readonly>
           </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="frmReunion_hide('N')"><span class="fa fa-times-circle"></span> Close</button>
        <button class="btn btn-primary" [disabled]="usu_invalido"><span class="fa fa-save"></span> Guardar</button>
      </div>
    </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
<!-- /.Fin Modal Nuevo Año Lectivo-->
</div>


