<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
        <h5><strong>
            <i class="fa fa-align-justify"></i>&nbsp;&nbsp;Lista de Apoderados
          </strong>
          <span class="float-right">
            <button class="btn btn-success btn-xs" 
            matTooltip="Agregar Apoderado"
            matTooltipClass="tooltip-mensaje"
            data-toggle="modal" (click)="btnNuevo_Apoderado()">
              <span class="fa fa-plus-square"></span>
            </button>
          </span></h5>
   </div>
   <div class="card-body">
      <div class="mat-elevation-z8 table-responsive">
          <mat-form-field class="example-full-width" style="margin-left: 15px;">
            <span matPrefix>Buscar Apoderado: &nbsp;</span>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Ingrese Dato">
          </mat-form-field>  
          <table mat-table [dataSource]="dataSource" matSort id="tabla">          
            <ng-container matColumnDef="doc_apoderado">
              <th width="15%" mat-header-cell *matHeaderCellDef mat-sort-header class="txtcabezera-tabla" nowrap > Doc. Identidad </th>
              <td mat-cell *matCellDef="let element" style="text-align: center !important"> {{element.doc_apoderado}} </td>
            </ng-container>
        
        
            <ng-container matColumnDef="apellidos_apoderado">
              <th width="30%" mat-header-cell *matHeaderCellDef mat-sort-header class="txtcabezera-tabla" nowrap> Apellidos y Nombres </th>
              <td mat-cell *matCellDef="let element"> {{element.apellidos_apoderado}} {{element.nombres_apoderado}}</td>
            </ng-container>
            
            <ng-container matColumnDef="sexo_apoderado">
                <th width="20%" mat-header-cell *matHeaderCellDef class="txtcabezera-tabla" nowrap> Sexo </th>
                <td mat-cell *matCellDef="let element" style="text-align: center !important" nowrap> {{element.sexo_apoderado}} </td>
              </ng-container>

              <ng-container matColumnDef="num_contacto">
                  <th mat-header-cell *matHeaderCellDef class="txtcabezera-tabla" nowrap> Num. Contacto </th>
                  <td mat-cell *matCellDef="let element" style="text-align: center !important" nowrap> {{element.celular_apoderado}} </td>
                </ng-container>
                <ng-container matColumnDef="opciones_apoderado">
                    <th mat-header-cell *matHeaderCellDef class="txtcabezera-tabla" nowrap> Opciones </th>
                    <td mat-cell *matCellDef="let element" nowrap> 
                        <span class="fa fa-address-card-o btn-xs fa-2x distancia_btn_opciones" aria-hidden="true" style="color: rgb(12, 83, 236);cursor: pointer;"
                        matTooltip="Detalle"
                          matTooltipClass="tooltip-mensaje"
                          [matTooltipPosition]="positionOptions[3]"
                          data-toggle="modal" (click)="btnDetalle_Apoderado(element.id_apoderado)"></span>
                          <span class="fa fa-edit btn-xs fa-2x distancia_btn_opciones" aria-hidden="true" style="color: rgb(5, 153, 5);cursor: pointer;"
                            matTooltip="Editar"
                            matTooltipClass="tooltip-mensaje"
                            [matTooltipPosition]="positionOptions[3]"
                            data-toggle="modal" (click)="btnEdit_Apoderado(element.id_apoderado)"></span>
                            <span class="fa fa-file-text-o btn-xs fa-2x distancia_btn_opciones" aria-hidden="true" style="color: rgb(2, 180, 211);cursor: pointer;"
                            matTooltip="Conceptos"
                            matTooltipClass="tooltip-mensaje"
                            [matTooltipPosition]="positionOptions[3]"
                            data-toggle="modal" (click)="btnNuevo_Concepto(element.id_apoderado)"></span>
                       <span class="fa fa-trash-o btn-xs fa-2x distancia_btn_opciones" aria-hidden="true" style="color: red;cursor: pointer;"
                           matTooltip="Eliminar"
                                matTooltipClass="tooltip-mensaje"
                                [matTooltipPosition]="positionOptions[3]"
                                (click)="btnEliminar_Apoderado(element.id_apoderado)"
                            *ngIf="optAd=='AD'"></span>
                    </td>
                  </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns" style="background-color: #3f51b5 !important;"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          
        </div>

   </div>
 </div>
 <!--Modal Registrar Nuevo Apoderado-->
 <div bsModal #NvoApoderadoModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" #staticModal="bs-modal" [config]="{backdrop: 'static',keyboard : false}" >
  <div class="modal-dialog modal-lg modal-success" role="document">
    <div class="modal-content">
        <form name="form" class="formulario" (ngSubmit)="myForm.form.valid && onSubmit(apoderado)" #myForm="ngForm" novalidate autocomplete="off">
      <div class="modal-header">
        <h4 class="modal-title">Nuevo Apoderado</h4>
        <button type="button" class="close" (click)="frmApo_hide('N')" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="row">
              <div class="form-group col-sm-12 col-md-4">
                <label for="tdoc_apoderado" style="font-weight: bold;">Tipo Doc. <i class="fa fa-certificate" style="color:red !important"></i> :</label>
                <select class="form-control" id="tdoc_apoderado" name="tdoc_apoderado"
                  placeholder="Selecionar Perfil" [(ngModel)]="apoderado.tdoc_apoderado" #regtdoc="ngModel" required>
                    <option value="" selected disabled>-----Tipo Documento------</option>
                    <option value="DNI">DNI</option>
                    <option value="OTR">OTROS</option>
                </select>
                  <div *ngIf="myForm.submitted && apoderado.tdoc_apoderado==''" style="
                      width: 100%;
                      margin-top: .25rem;
                      font-size: 80%;
                      color: #f86c6b;">
                          Debe seleccionar una opción
                  </div>
              </div>
              <div class="form-group col-sm-12 col-md-4" *ngIf="apoderado.tdoc_apoderado=='DNI'">
                  <label for="doc_apoderado" style="font-weight: bold;">Doc. DNI <i class="fa fa-certificate" style="color:red !important"></i> :</label>
                  <input type="text" class="form-control" id="doc_apoderado" name="doc_apoderado"
                  placeholder="Doc Identidad"  [(ngModel)]="apoderado.doc_apoderado" #regdni="ngModel"
                  pattern="[0-9]{8}" [ngClass]="{ 'is-invalid': myForm.submitted && regdni.invalid }" required onkeyup="verif(this)" onkeypress="return Num(event);" maxlength="8">
                  <div *ngIf="myForm.submitted && regdni.invalid" class="invalid-feedback">
                      <div *ngIf="regdni.errors.required">Doc. Identidad campo requerido</div>
                      <div *ngIf="regdni.errors.pattern">Debe Ingresar 8 Números</div>
                  </div>
                </div>
                <div class="form-group col-sm-12 col-md-4" *ngIf="apoderado.tdoc_apoderado=='OTR'">
                    <label for="doc_apoderado" style="font-weight: bold;">Doc. OTROS <i class="fa fa-certificate" style="color:red !important"></i> :</label>
                    <input type="text" class="form-control" id="doc_apoderado" name="doc_apoderado"
                    placeholder="Doc Identidad"  [(ngModel)]="apoderado.doc_apoderado" #regotro="ngModel"
                    pattern="[0-9A-Z]{12,15}" [ngClass]="{ 'is-invalid': myForm.submitted && regotro.invalid }" required onkeyup="verif(this)" maxlength="15">
                    <div *ngIf="myForm.submitted && regotro.invalid" class="invalid-feedback">
                        <div *ngIf="regotro.errors.required">Doc. Identidad campo requerido</div>
                        <div *ngIf="regotro.errors.pattern">Debe Ingresar al menos 12 Carácteres</div>
                    </div>
                  </div>
                  <div class="form-group col-sm-12 col-md-4">
                      <label for="sexo_apoderado" style="font-weight: bold;">Sexo <i class="fa fa-certificate" style="color:red !important"></i> :</label>
                      <div class="radio" style="display: block !important;max-width: none !important;">
                          <div class="form-check form-check-inline mr-1" id="inline-radios">
                              <input class="form-check-input" type="radio" name="sexo_apoderado" id="inlineRadio1" [(ngModel)]="apoderado.sexo_apoderado" value="M" #regsexo="ngModel" required >
                              <label class="form-check-label" for="inlineRadio1">Masculino</label>
                            </div>
                            <div class="form-check form-check-inline mr-1">
                              <input class="form-check-input" type="radio" name="sexo_apoderado" id="inlineRadio2" [(ngModel)]="apoderado.sexo_apoderado" value="F" #regsexo="ngModel" required>
                              <label class="form-check-label" for="inlineRadio2">Femenino</label>
                            </div>
                           
                          </div>
                          <div *ngIf="myForm.submitted && regsexo.errors?.required" style="
                           width: 100%;
                           margin-top: .25rem;
                           font-size: 80%;
                           color: #f86c6b;">
                             Debe seleccionar una opción
                            </div>
                    </div>
            </div><!--/.row-->
         <div class="row">
            <div class="form-group col-sm-12 col-md-4">
              <label for="apellidos_apoderado" style="font-weight: bold;">Apellidos Completos <i class="fa fa-certificate" style="color:red !important"></i> :</label>
              <input type="text" class="form-control" id="apellidos_apoderado" name="apellidos_apoderado"
               placeholder="Nombres Completos" [(ngModel)]="apoderado.apellidos_apoderado" #regapellidos="ngModel" 
               onkeyup="verif(this)" maxlength="60" [ngClass]="{ 'is-invalid': myForm.submitted && regapellidos.invalid }" 
               pattern="^([A-ZÁÉÍÓÚ]{1}[a-zñáéíóú]{1,60}[\s]*)+$" required>
               <div *ngIf="myForm.submitted && regapellidos.invalid" class="invalid-feedback">
                <div *ngIf="regapellidos.errors.required">Apellidos Completos campo requerido</div>
                <div *ngIf="regapellidos.errors.pattern">Formato de Apellidos Completos incorrectos</div>
               </div>
            </div>
            <div class="form-group col-sm-12 col-md-4">
                <label for="nombres_apoderado" style="font-weight: bold;">Nombres Completos <i class="fa fa-certificate" style="color:red !important"></i> :</label>
                <input type="text" class="form-control" id="nombres_apoderado" name="nombres_apoderado" 
                placeholder="Apellidos Completos" [(ngModel)]="apoderado.nombres_apoderado" #regnombres="ngModel" 
                onkeyup="verif(this)" maxlength="50" [ngClass]="{ 'is-invalid': myForm.submitted && regnombres.invalid }" 
                pattern="^([A-ZÁÉÍÓÚ]{1}[a-zñáéíóú]{1,50}[\s]*)+$" required>
                <div *ngIf="myForm.submitted && regnombres.invalid" class="invalid-feedback">
                  <div *ngIf="regnombres.errors.required">Nombres Completos campo requerido</div>
                  <div *ngIf="regnombres.errors.pattern">Formato de Nombres Completos incorrectos</div>
                </div>
            </div>
            <div class="form-group col-sm-12 col-md-4">
                <label for="celular_apoderado" style="font-weight: bold;">Celular <i class="fa fa-certificate" style="color:red !important"></i> :</label>
                <input type="text" class="form-control" id="celular_apoderado" name="celular_apoderado"
                placeholder="#########"  [(ngModel)]="apoderado.celular_apoderado" #regcelular="ngModel"
                pattern="[0-9]{9}" [ngClass]="{ 'is-invalid': myForm.submitted && regcelular.invalid }" required onkeyup="verif(this)" onkeypress="return Num(event);" maxlength="9">
                <div *ngIf="myForm.submitted && regcelular.invalid" class="invalid-feedback">
                    <div *ngIf="regcelular.errors.required">Num. Celular campo requerido</div>
                    <div *ngIf="regcelular.errors.pattern">Debe Ingresar 9 Números</div>
                </div>
              </div>
          </div><!--/.row-->
          <div class="row">
            <div class="form-group col-sm-12 col-md-6">
              <label for="direccion_apoderado" style="font-weight: bold;">Dirección <i class="fa fa-certificate" style="color:red !important"></i> :</label>
              <input type="text" class="form-control" id="direccion_apoderado" name="direccion_apoderado"
              placeholder="Dirección" [(ngModel)]="apoderado.direccion_apoderado" #regdireccion="ngModel" 
              onkeyup="verif(this)" maxlength="80" [ngClass]="{ 'is-invalid': myForm.submitted && regdireccion.invalid }" 
              pattern="^([A-Za-z0-9#/ñ]{1,80}[\s]*)+$" required>
              <div *ngIf="myForm.submitted && regdireccion.invalid" class="invalid-feedback">
                  <div *ngIf="regdireccion.errors.required">Dirección campo requerido</div>
                  <div *ngIf="regdireccion.errors.pattern">Formato de Dirección incorrectos</div>
                </div>
            </div>
            <div class="form-group col-sm-12 col-md-6">
              <label for="correo_apoderado" style="font-weight: bold;">Correo Electronico:</label>
              <input type="text" class="form-control" id="correo_apoderado" name="correo_apoderado"
              placeholder="Correo Electronico" [(ngModel)]="apoderado.correo_apoderado" #regcorreo="ngModel" 
              onkeyup="verif(this)" maxlength="80" [ngClass]="{ 'is-invalid': myForm.submitted && regcorreo.invalid }" email>
              <div *ngIf="myForm.submitted && regcorreo.invalid" class="invalid-feedback">
                  <div *ngIf="regcorreo.errors.email">Formato de correo incorrecto</div>
              </div>
            </div>
          </div><!--/.row-->        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="frmApo_hide('N')"><span class="fa fa-times-circle"></span> Close</button>
        <button type="submit" class="btn btn-primary" ><span class="fa fa-save"></span> Guardar</button>
      </div>
    </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
<!-- /.Fin Modal Nuevo Apoderado-->
  <!--Modal Detalle Alumno-->
  <div bsModal #DetApoderadoModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" #staticModal="bs-modal" [config]="{backdrop: 'static',keyboard : false}">
      <div class="modal-dialog modal-lg modal-info" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Detalle Apoderado</h4>
            <button type="button" class="close" (click)="frmApo_hide('D')" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="row">
                  <div class="col-sm-4 col-lg-5">
                    <p style="margin-bottom: 1px !important;"><strong>Apellidos y Nombres </strong></p><h6>{{DetApoderado.apellidos_apoderado}} {{DetApoderado.nombres_apoderado}}</h6>
                    <p style="margin-bottom: 1px !important;"><strong>Tipo Doc: </strong></p><h6>{{DetApoderado.tdoc_apoderado}}</h6>
                    <p style="margin-bottom: 1px !important;"><strong>Doc Identidad: </strong></p><h6>{{DetApoderado.doc_apoderado}} </h6>
                    <p style="margin-bottom: 1px !important;"><strong>Sexo: </strong></p><h6>{{DetApoderado.sexo_apoderado}} </h6>
                    <p style="margin-bottom: 1px !important;"><strong>N° Celular: </strong></p><h6>{{DetApoderado.celular_apoderado}}</h6>
                    <p style="margin-bottom: 1px !important;"><strong>Dirección: </strong></p><h6>{{DetApoderado.direccion_apoderado}}</h6>
                    <p style="margin-bottom: 1px !important;"><strong>Correo: </strong></p><h6>{{DetApoderado.correo_apoderado}} </h6>
                  </div><br> 
                  <div class="col-sm-8 col-lg-7">
                      <p style="margin-bottom: 1px !important;"><strong>DETALLE DE DEUDA</strong></p><br>
                      <!-- <div class="progress progress-xs"><div aria-valuemax="100" aria-valuemin="0" aria-valuenow="95" class="progress-bar bg-danger" role="progressbar" style="width: 100%"></div></div><br> -->
                      <div class="secciones-detalle-recibo table-responsive">                        
                        <table class="table">
                          <thead style="background-color: #3f51b5 !important;">
                            <tr>
                                <th nowrap>Descripción Concepto</th>
                                <th nowrap>Saldo</th>
                                <th nowrap>Opciones</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of DataDeuda;index as i">
                                <td width="80%">
                                    {{item.descripcion_concepto}}
                                  </td>
                                  <td nowrap>
                                    {{item.saldo_deuda | number : '.2-2'}}
                                  </td>
                                  <td nowrap>
                                      <span class="fa fa-trash-o btn-xs fa-2x distancia_btn_opciones" aria-hidden="true" style="color: red;cursor: pointer;"
                                      #pop="bs-popover"  [popover]="options" placement="left" 
                                      container="body"
                                      matTooltip="Eliminar"
                                      matTooltipClass="tooltip-mensaje"
                                      [matTooltipPosition]="positionOptions[3]"></span>
                                      <ng-template #options>
                                        <mat-form-field class="example-form-field">
                                          <input matInput type="text" placeholder="Ingrese Motivo de Eliminación:" [(ngModel)]="motivodel[i]"  maxlength="50" required>
                                          <button mat-button *ngIf="motivodel[i]" matSuffix mat-icon-button aria-label="Clear" (click)="motivodel[i]=''">
                                            <mat-icon>close</mat-icon>
                                          </button>                                          
                                        </mat-form-field>
                                        <div *ngIf="valid_motivo[i]" style="color: red;"><span class="fa fa-times"></span>Debe Ingresar un Motivo</div>
                                          <div class="popover-footer" style="text-align: right;">
                                            <mat-icon aria-hidden="true" 
                                            matTooltip="Guardar"
                                            matTooltipClass="tooltip-mensaje"
                                            [matTooltipPosition]="positionOptions[3]"
                                            (click)="btneliminar_deuda(item.id_detalle_deuda,motivodel[i],i)"
                                            style="color: rgb(4, 82, 4);cursor: pointer;">
                                              save</mat-icon>
                                          </div>
                                      </ng-template>                                    
                                  </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                 </div>  
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
  </div>
<!-- /.Fin Modal Detalle Alumno-->
<!--Modal Registrar Nuevo Apoderado-->
<div bsModal #EditApoderadoModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" #staticModal="bs-modal" [config]="{backdrop: 'static',keyboard : false}" >
    <div class="modal-dialog modal-lg modal-success" role="document">
      <div class="modal-content">
          <form name="form" class="formulario" (ngSubmit)="FormEdit.form.valid && updateApoderado(Editapoderado)" #FormEdit="ngForm" novalidate autocomplete="off">
        <div class="modal-header">
          <h4 class="modal-title">Editar Apoderado</h4>
          <button type="button" class="close" (click)="frmApo_hide('E')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="form-group col-sm-12 col-md-4">
                  <label for="tdoc_apoderado" style="font-weight: bold;">Tipo Doc. <i class="fa fa-certificate" style="color:red !important"></i> :</label>
                  <select class="form-control" id="tdoc_apoderado" name="tdoc_apoderado"
                    placeholder="Selecionar Perfil" [(ngModel)]="Editapoderado.tdoc_apoderado" #edittdoc="ngModel" disabled required>
                      <option value="" selected disabled>-----Tipo Documento------</option>
                      <option value="DNI">DNI</option>
                      <option value="OTR">OTROS</option>
                  </select>
                    <div *ngIf="FormEdit.submitted && Editapoderado.tdoc_apoderado==''" style="
                        width: 100%;
                        margin-top: .25rem;
                        font-size: 80%;
                        color: #f86c6b;">
                            Debe seleccionar una opción
                    </div>
                </div>
                <div class="form-group col-sm-12 col-md-4" *ngIf="Editapoderado.tdoc_apoderado=='DNI'">
                    <label for="doc_apoderado" style="font-weight: bold;">Doc. DNI <i class="fa fa-certificate" style="color:red !important"></i> :</label>
                    <input type="text" class="form-control" id="doc_apoderado" name="doc_apoderado"
                    placeholder="Doc Identidad"  [(ngModel)]="Editapoderado.doc_apoderado" #editdni="ngModel"
                    pattern="[0-9]{8}" [ngClass]="{ 'is-invalid': FormEdit.submitted && editdni.invalid }" disabled required onkeyup="verif(this)" onkeypress="return Num(event);" maxlength="8">
                    <div *ngIf="FormEdit.submitted && editdni.invalid" class="invalid-feedback">
                        <div *ngIf="editdni.errors.required">Doc. Identidad campo requerido</div>
                        <div *ngIf="editdni.errors.pattern">Debe Ingresar 8 Números</div>
                    </div>
                  </div>
                  <div class="form-group col-sm-12 col-md-4" *ngIf="Editapoderado.tdoc_apoderado=='OTR'">
                      <label for="doc_apoderado" style="font-weight: bold;">Doc. OTROS <i class="fa fa-certificate" style="color:red !important"></i> :</label>
                      <input type="text" class="form-control" id="doc_apoderado" name="doc_apoderado"
                      placeholder="Doc Identidad"  [(ngModel)]="Editapoderado.doc_apoderado" #editotro="ngModel"
                      pattern="[0-9A-Z]{12,15}" [ngClass]="{ 'is-invalid': FormEdit.submitted && editotro.invalid }" disabled required onkeyup="verif(this)" maxlength="15">
                      <div *ngIf="FormEdit.submitted && editotro.invalid" class="invalid-feedback">
                          <div *ngIf="editotro.errors.required">Doc. Identidad campo requerido</div>
                          <div *ngIf="editotro.errors.pattern">Debe Ingresar al menos 12 Carácteres</div>
                      </div>
                    </div>
                    <div class="form-group col-sm-12 col-md-4">
                        <label for="sexo_apoderado" style="font-weight: bold;">Sexo <i class="fa fa-certificate" style="color:red !important"></i> :</label>
                        <div class="radio" style="display: block !important;max-width: none !important;">
                            <div class="form-check form-check-inline mr-1" id="inline-radios">
                                <input class="form-check-input" type="radio" name="sexo_apoderado" id="inlineRadio1" [(ngModel)]="Editapoderado.sexo_apoderado" value="M" #editsexo="ngModel" required >
                                <label class="form-check-label" for="inlineRadio1">Masculino</label>
                              </div>
                              <div class="form-check form-check-inline mr-1">
                                <input class="form-check-input" type="radio" name="sexo_apoderado" id="inlineRadio2" [(ngModel)]="Editapoderado.sexo_apoderado" value="F" #editsexo="ngModel" required>
                                <label class="form-check-label" for="inlineRadio2">Femenino</label>
                              </div>
                             
                            </div>
                            <div *ngIf="FormEdit.submitted && editsexo.errors?.required" style="
                             width: 100%;
                             margin-top: .25rem;
                             font-size: 80%;
                             color: #f86c6b;">
                               Debe seleccionar una opción
                              </div>
                      </div>
              </div><!--/.row-->
           <div class="row">
              <div class="form-group col-sm-12 col-md-4">
                <label for="apellidos_apoderado" style="font-weight: bold;">Apellidos Completos <i class="fa fa-certificate" style="color:red !important"></i> :</label>
                <input type="text" class="form-control" id="apellidos_apoderado" name="apellidos_apoderado"
                 placeholder="Nombres Completos" [(ngModel)]="Editapoderado.apellidos_apoderado" #editapellidos="ngModel" 
                 onkeyup="verif(this)" maxlength="60" [ngClass]="{ 'is-invalid': FormEdit.submitted && editapellidos.invalid }" 
                 pattern="^([A-ZÁÉÍÓÚ]{1}[a-zñáéíóú]{1,60}[\s]*)+$" required>
                 <div *ngIf="FormEdit.submitted && editapellidos.invalid" class="invalid-feedback">
                  <div *ngIf="editapellidos.errors.required">Apellidos Completos campo requerido</div>
                  <div *ngIf="editapellidos.errors.pattern">Formato de Apellidos Completos incorrectos</div>
                 </div>
              </div>
              <div class="form-group col-sm-12 col-md-4">
                  <label for="nombres_apoderado" style="font-weight: bold;">Nombres Completos <i class="fa fa-certificate" style="color:red !important"></i> :</label>
                  <input type="text" class="form-control" id="nombres_apoderado" name="nombres_apoderado" 
                  placeholder="Apellidos Completos" [(ngModel)]="Editapoderado.nombres_apoderado" #editnombres="ngModel" 
                  onkeyup="verif(this)" maxlength="50" [ngClass]="{ 'is-invalid': FormEdit.submitted && editnombres.invalid }" 
                  pattern="^([A-ZÁÉÍÓÚ]{1}[a-zñáéíóú]{1,50}[\s]*)+$" required>
                  <div *ngIf="FormEdit.submitted && editnombres.invalid" class="invalid-feedback">
                    <div *ngIf="editnombres.errors.required">Nombres Completos campo requerido</div>
                    <div *ngIf="editnombres.errors.pattern">Formato de Nombres Completos incorrectos</div>
                  </div>
              </div>
              <div class="form-group col-sm-12 col-md-4">
                  <label for="celular_apoderado" style="font-weight: bold;">Celular <i class="fa fa-certificate" style="color:red !important"></i> :</label>
                  <input type="text" class="form-control" id="celular_apoderado" name="celular_apoderado"
                  placeholder="#########"  [(ngModel)]="Editapoderado.celular_apoderado" #editcelular="ngModel"
                  pattern="[0-9]{9}" [ngClass]="{ 'is-invalid': FormEdit.submitted && editcelular.invalid }" required onkeyup="verif(this)" onkeypress="return Num(event);" maxlength="9">
                  <div *ngIf="FormEdit.submitted && editcelular.invalid" class="invalid-feedback">
                      <div *ngIf="editcelular.errors.required">Num. Celular campo requerido</div>
                      <div *ngIf="editcelular.errors.pattern">Debe Ingresar 9 Números</div>
                  </div>
                </div>
            </div><!--/.row-->
            <div class="row">
              <div class="form-group col-sm-12 col-md-6">
                <label for="direccion_apoderado" style="font-weight: bold;">Dirección <i class="fa fa-certificate" style="color:red !important"></i> :</label>
                <input type="text" class="form-control" id="direccion_apoderado" name="direccion_apoderado"
                placeholder="Dirección" [(ngModel)]="Editapoderado.direccion_apoderado" #editdireccion="ngModel" 
                onkeyup="verif(this)" maxlength="80" [ngClass]="{ 'is-invalid': FormEdit.submitted && editdireccion.invalid }" 
                pattern="^([A-Za-z0-9#/ñ]{1,80}[\s]*)+$" required>
                <div *ngIf="FormEdit.submitted && editdireccion.invalid" class="invalid-feedback">
                    <div *ngIf="editdireccion.errors.required">Dirección campo requerido</div>
                    <div *ngIf="editdireccion.errors.pattern">Formato de Dirección incorrectos</div>
                  </div>
              </div>
              <div class="form-group col-sm-12 col-md-6">
                <label for="correo_apoderado" style="font-weight: bold;">Correo Electronico:</label>
                <input type="text" class="form-control" id="correo_apoderado" name="correo_apoderado"
                placeholder="Correo Electronico" [(ngModel)]="Editapoderado.correo_apoderado" #editcorreo="ngModel" 
                onkeyup="verif(this)" maxlength="80" [ngClass]="{ 'is-invalid': FormEdit.submitted && editcorreo.invalid }" email>
                <div *ngIf="FormEdit.submitted && editcorreo.invalid" class="invalid-feedback">
                    <div *ngIf="editcorreo.errors.email">Formato de correo incorrecto</div>
                </div>
              </div>
            </div><!--/.row-->        
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="frmApo_hide('E')"><span class="fa fa-times-circle"></span> Close</button>
          <button type="submit" class="btn btn-primary" ><span class="fa fa-save"></span> Guardar</button>
        </div>
      </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>
  <!-- /.Fin Modal Nuevo Apoderado-->
  <!--Modal Insertar Concepto Apoderado-->
<div bsModal #NvoConceptoModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" #staticModal="bs-modal" [config]="{backdrop: 'static',keyboard : false}" >
    <div class="modal-dialog modal-md modal-success" role="document">
      <div class="modal-content">
          <form name="form" class="formulario" (ngSubmit)="myDeuda.form.valid && btnRegistrar_Deuda(deuda)" #myDeuda="ngForm" novalidate autocomplete="off">
        <div class="modal-header">
          <h4 class="modal-title">Ingreso de Deuda</h4>
          <button type="button" class="close" (click)="frmApo_hide('NC')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="row">
                  <div class="form-group col-sm-12 col-md-12">
                    <label for="descripcion_concepto" style="font-weight: bold;">Descripción Concepto <i class="fa fa-certificate" style="color:red !important"></i> :</label>
                    <select class="form-control" id="id_concepto" name="id_concepto" 
                    (change)="obtener_montos(deuda.id_concepto)"
                    [(ngModel)]="deuda.id_concepto" #id_concepto="ngModel">
                    <option value="0" selected disabled>-----Seleccionar Concepto------</option>
                    <option *ngFor="let c of DataConceptos" value="{{c.id_concepto}}">{{c.descripcion_concepto}}</option>
                   </select>
                   <div *ngIf="myDeuda.submitted && deuda.id_concepto==''" style="
                       width: 100%;
                       margin-top: .25rem;
                       font-size: 80%;
                       color: #f86c6b;">
                         Debe seleccionar una opción
                        </div>
                  </div>
              </div><!--/.row--> 
              <div class="row">
                  <div class="form-group col-sm-12 col-md-5">
                      <label for="monto" style="font-weight: bold;">Monto Concepto <i class="fa fa-certificate" style="color:red !important"></i> :</label>
                      <input type="text" class="form-control" id="monto" name="monto"
                       placeholder="Monto" [(ngModel)]="deuda.monto" #regmonto="ngModel" 
                       maxlength="11" readonly required style="background-color: #ffffff;
                       opacity: 1;
                       color: #080808;">
                    </div>
                    <div class="form-group col-sm-12 col-md-4">
                      <label for="monto_ingresado" style="font-weight: bold;">Monto <i class="fa fa-certificate" style="color:red !important"></i> :</label>
                      <input type="text" class="form-control" id="monto_ingresado" name="monto_ingresado"
                       placeholder="Monto" [(ngModel)]="deuda.monto_ingresado" #regingresado="ngModel" 
                       onkeyup="verif(this)" maxlength="11" [ngClass]="{ 'is-invalid': myDeuda.submitted && regingresado.invalid }" 
                       pattern="^(?!\.?$)\d{1,8}(\.\d{1,2})?$" onkeypress="return Num_Decimal(event);" required>
                       <div *ngIf="myDeuda.submitted && regingresado.invalid" class="invalid-feedback">
                        <div *ngIf="regingresado.errors.required">Monto campo requerido</div>
                        <div *ngIf="regingresado.errors.pattern">Formato Monto Incorrecto</div>
                       </div>
                    </div>
                </div><!--/.row-->    
                <div class="row">
                    <div class="form-group col-sm-12 col-md-12">
                        <label for="monto" style="font-weight: bold;">Descripción:</label>
                        <textarea id="descripcion_deuda" name="descripcion_deuda" rows="3" [(ngModel)]="deuda.descripcion_deuda" #regobser="ngModel"
                         class="form-control" maxlength="100" placeholder="Ingrese Descripcion" onkeyup="verif(this)"></textarea>
                      </div>
                  </div><!--/.row-->   
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="frmApo_hide('NC')"><span class="fa fa-times-circle"></span> Close</button>
          <button type="submit" class="btn btn-primary" ><span class="fa fa-save"></span> Guardar</button>
        </div>
      </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>
  <!-- /.Fin Modal Insertar Concepto Apoderado-->
</div>
